.container {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  height: 8rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.warning {
  border: 4px solid #EC0000;
}

@media (max-width: 830px) {
  .container {
      max-height: 8rem;
      width: 20rem;
  }
}

@media (max-width: 600px) {
  .container {
    max-height: full;
    width: full;
  }
}

.container p {
  text-wrap: wrap;
  font-size: 14px;
  text-align: left;
  margin-top: .4rem;
}

.container h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 800;
}

.container img {
  margin-bottom: 3rem;
}

.list {
  margin-top: 0.8rem;
  list-style-type: square;
  margin-left: 0.9rem;
}

.item {
  margin-bottom: 0.4rem;
}

.skeleton {
  padding-bottom: 4rem;
}