.container p {
  text-wrap: wrap;
  font-size: 14px;
  text-align: left;
}

.container h3 {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1.4rem;
  margin-top: 0.8rem;
  color: #004699;
}

.list {
  margin-top: 0.8rem;
  list-style-type: square;
  margin-left: 0.9rem;
}

.item {
  margin-bottom: 0.4rem;
}

.skeleton {
  padding-bottom: 4rem;
}