.interactiveSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    border-right: solid 2px #E5E5E5;
    padding-top: 1.4rem;
}

.interactiveSection h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 1.4rem;
    margin-top: 0.8rem;
    color: #004699
}

@media (max-width: 830px) {
    .interactiveSection {
        flex-direction: column;
        border-right: 0;
        border-bottom: solid 2px #E5E5E5;
        padding-top: 0rem;
    }
  }

@media (max-width: 600px) {
    .interactiveSection {
        flex-direction: column;
        border-right: 0;
        border-bottom: 0;
    }
  }