.interactiveSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    border-right: solid 2px #E5E5E5;
    padding-top: 1.4rem;
}

.interactiveSection h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 1.4rem;
    margin-top: 0.8rem;
    color: #004699
}

@media (max-width: 830px) {
    .interactiveSection {
        flex-direction: column;
        border-right: 0;
        border-bottom: solid 2px #E5E5E5;
        padding-top: 0rem;
    }
  }
  
@media (max-width: 600px) {
    .interactiveSection {
        flex-direction: column;
        border-right: 0;
        border-bottom: 0;
    }
  }

  .loader {
    border: 3.2px solid #004699;
    border-top: 3.2px solid #FFFFFF;
        border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }