.container {
    position: relative;
    padding-right: 1rem;
    max-width: 20rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 3rem;
    font-size: 16px;
    border: 1px solid #004699;
    padding: .5rem 1rem .5rem 1rem;
    gap: 1.2rem;
}

.dropdown:hover {
    outline: 1px solid #00387A;
}

.list {
    border-style: solid;
    border-width: 0 2px 2px;
    border-color: #004699;
    position: absolute;
    top: 100%;
    left: 0;
    width: 22.25rem;
    background-color: #FFFFFF;
}

@media (max-width: 830px) {
    .list {
        max-height: 12rem;
        overflow: scroll;
    }
  }

.dropdown.open {
    border: 2px solid #004699;
}

.item {
    display: flex;
    padding: .2rem 1.5rem;
    color: #004699;
    line-height: 1.8rem;
    font-size: 14px;
}

.notSelected {
    color: #767676
}

.highlighted {
    background-color: #004699;
    color: #FFFFFF
}

.rotated {
    transform: rotate(180deg);
}